/*  primary-color = black & white; 
    secondary-color = #c4a86a;
    font-family--primary = "Yellowtail", cursive;
    font-family--secondary = Montserrat", sans-serif;
*/
@import url("./nav.css");
@import url("./slider.css");
@import url("./parallax.css");
@import url("./content-section.css");
@import url("./about-section.css");
@import url("./recommendation-section.css");
@import url("./menu-section.css");
@import url("./ingredients-section.css");
@import url("./card.css");
@import url("./footer.css");

*,
:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    font-size: 10px;
}

::selection {
    background: #c4a86a;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    overflow-x: hidden;
}

.header {
    position: relative;
    color: white;
    overflow: hidden;
}

.heading-secondary {
    text-align: left;
    color: black;
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 700;

@import url("nav.css");
@import url("slider.css");
@import url("parallax.css");
@import url("content-section.css");
@import url("about-section.css");
@import url("recommendation-section.css");
@import url("menu-section.css");
@import url("ingredients-section.css");
@import url("card.css");
@import url("footer.css");

*,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-size: 10px;
}
::selection {
  background: #c4a86a;
}
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  overflow-x: hidden;
}

.header {
  position: relative;
  color: white;
  overflow: hidden;
}

.heading-secondary {
  text-align: left;
  color: black;
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 700;
}

.heading-secondary-sub,
.paragraph {
    text-align: left;
    color: black;
    font-size: 1.4rem;
}

.heading-secondary-sub {
    font-weight: 300;
}

/* Media Queries */
@media (max-width: 765px) {
    .heading-secondary {
        font-size: 1.8rem;
    }

    .heading-secondary-sub,
    .paragraph {
        color: black;
        font-size: 1.3rem;
    }
}

  text-align: left;
  color: black;
  font-size: 1.4rem;
}
.heading-secondary-sub {
  font-weight: 300;
}
/* Media Queries */
@media (max-width: 765px) {
  .heading-secondary {
    font-size: 1.8rem;
  }
  .heading-secondary-sub,
  .paragraph {
    color: black;
    font-size: 1.3rem;
  }
}
