.body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

.parallax {
    background-image: url("https://themes.themegoods.com/capella/demo/wp-content/uploads/2014/05/shutterstock_178075700.jpg");
    min-height: 500px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.parallax2 {
    background-image: url("https://themes.themegoods.com/capella/demo/wp-content/uploads/2014/05/shutterstock_178075700.jpg");
    /* min-height: 500px; */
    /* height: 100%; */
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    text-align: center;
}

.first {
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#menu h1 {
    text-align: center;
    font-family: "Yellowtail", cursive;
    font-size: 100px;
    font-weight: 400;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

#menu h2 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 450;
    font-size: 17px;
    margin-top: 0%;
    padding-top: 0%;
    margin-bottom: 150px;
}

.section1 {
    background-color: white;
}

.section2 {
    background-color: white;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.mencont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    width: 60%;
    gap: 15px;
}

.item {
    flex: 0 0 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    text-align: center;
}

.item img {
    width: 100%;
    height: 65%;
    border-radius: 10px;
}

.item h3 {
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 17px;
}

.item p {
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.popular-item h3 {
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 17px;
}

.popular-item p {
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.popdish_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.innercont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    gap: 20px;
}

.inner2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}


#header h1 {
    text-align: center;
    font-family: "Yellowtail", cursive;
    font-size: 70px;
    font-weight: 300;
}

.container {
    padding-top: 100px;
}

.form-group {
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 17px;
    margin-top: 0%;
    padding-top: 0%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 150px;
}

.myform {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 1.1rem;
    outline: 0;
    max-width: 500px;
}

.tx-tfm {
    text-transform: uppercase;
}

.mybtn {
    border-radius: 50px;
}

.login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 100px;
    padding-bottom: 10px;
}

.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}

.hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.google {
    color: #666;
    width: 100%;
    height: 40px;
    text-align: center;
    outline: none;
    border: 1px solid lightgrey;
}

form .error {
    color: #ff0000;
}

#second {
    display: none;
}

@media (min-width: 600px) and (max-width: 900px) {}
