/* Order Page */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f1f3f7;
}

h1 {
  font-size: 70px;
  color: white;
  font-family: "Yellowtail", cursive;
  font-weight: 400;
}

main {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none !important;
}

del {
  font-size: 15px;
}

.footer-top span {
  font-size: 16px;
  font-weight: bold;
  padding: 25px 0;
}

.nav-links li a {
  font-size: 14px;
}

footer p {
  font-size: 14px !important;
}

.order-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../Images/photodune-5087439-chicken-tagine-m.jpg");
  background-size: cover;
  background-position: center center;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  width: 95%;
  margin: auto;
}

.cart {
  font-size: 30px;
  font-weight: 500;
}

.input-group {
  width: 130px;
  margin: 0 auto;
  border-radius: 80px;
}

.input-group input {
  border-radius: 80px;
}

.btn {
  border-radius: 0;
}

.apply {
  border-radius: 80px;
  padding: 5px 20px 6px 20px;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.bg-beige {
  background: #ddae71;
  color: white;
  border: none;
  transition-duration: 0.6;
}

.bg-beige:hover {
  background-color: #c79d66;
  color: white;
}

input[type="text"]:focus {
  border: 3px solid #ddae71;
  box-shadow: none;
}

.trash-color:hover {
  color: red;
}

.heart-color:hover {
  color: rgb(254, 76, 135);
}

.avatar-lg {
  height: 5rem;
  width: 5rem;
}

.fs-17 {
  font-size: 17px;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #eff0f2;
  margin-bottom: 24px;
  -webkit-box-shadow: 0 2px 3px #e4e8f0;
  box-shadow: 0 2px 3px #e4e8f0;
  border-radius: 0;
}

.cart_list {
  padding: 30px 40px;
}

.cart_list p {
  text-transform: capitalize;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: var(--colorBlack);
  font-weight: 500;
}

.cart_list .total {
  border-top: 1px solid;
  padding-top: 10px;
  font-size: 18px;
}

.qty .count {
  color: #000;
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
  font-weight: 700;
  line-height: 25px;
  padding: 0 2px;
  min-width: 35px;
  text-align: center;
}

.qty .plus,
.qty .minus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 23px;
  height: 23px;
  font: 23px/1 Arial, sans-serif;
  text-align: center;
  border-radius: 50%;
  background-clip: padding-box;
  background-color: #ddae71;
  transition-duration: 0.6;
}

.plus:hover,
.minus:hover {
  background-color: #c79d66 !important;
}

/*Prevent text selection*/
span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
input {
  border: 0;
  width: 2%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:disabled {
  background-color: white;
}
